@font-face {
    font-family: "EuclidFlex";
    src: url(../fonts/EuclidFlex-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: "EuclidFlex";
    src: url(../fonts/EuclidFlex-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: "EuclidFlex";
    src: url(../fonts/EuclidFlex-Bold.otf);
    font-weight: 700;
}

body {
    background-color: rgb(12, 5, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 12px;
    font-family: 'EuclidFlex';
    padding-bottom: 50px;
    button {
        background-color: white;
        border-radius: 10px;
        font-size: 25px;
    }
}
.instructions {
    width: 100%;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
    font-size: 50px;
}
form {
    font-size: 10px;
    width: 100%;
    button {
        display: block;
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
    }
}
.inputs__block {
    input {
        display: block;
        flex-basis: 23%;
        text-align: center;
        outline: none;
        font-size: 20px;
        padding: 5px 15px;
    }
    input:focus {
        outline: none;
    }
    input:not(:last-child) {
        margin-right: 20px;
    }
    display: flex;
    justify-content: center;
}
.text {
    width: 100%;
    background: transparent;
    color: white;
    border: none;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    white-space: normal;
}
button {
    cursor: pointer;
    margin: 20px 0;
    transition: 0.5s;
    border: 1px solid transparent;
    padding: 5px 15px;
}
button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}
#generation, #reset {
    width: 20%;
}
.odd__even-block {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    button {
        width: 25%;
        margin: 0;
    }
    button:first-child {
        margin-right: 20px;
    }
}
#itog {
    font-size: 30px;
    color: white;
    height: 37.5px;
}
#btn__sum {
    margin-right: 20px;
}




/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 12px;
    /* ширина для вертикального скролла */
    height: 8px;
    /* высота для горизонтального скролла */
    background-color: #000408;
  }
  
  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 9em;
    -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
  }
  
  /* Стрелки */
  ::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
  }
  
  ::-webkit-scrollbar-button:vertical:end:increment {
    background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
  }
  
  ::-webkit-scrollbar-button:horizontal:start:decrement {
    background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
  }
  
  ::-webkit-scrollbar-button:horizontal:end:increment {
    background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
  }
@media (max-width: 500px) {
    h1 {
        font-size: 25px;
        width: 100%;
    }
    button {
        width: 90%;
    }
    form {
        button {
            width: 100%;
        }
    }
    .inputs__block {
        flex-direction: column;
        align-items: center;
        input:not(:last-child) {
            margin-right: 0;
        }
    }
    #generation {
        width: 100%;
    }
    .odd__even-block {
        flex-direction: column;
        align-items: center;
        button {
            width: 90%;
        }
        button:first-child {
            margin-right: 0;
        }
    }
    .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #btn__sum {
        margin-right: 0;
    }
    #reset {
        width: 90%;
    }
}